apiVersion:  v1
kind: Service
metadata:
  name: web-service
  namespace:  dev
spec:
  type:  NodePort
  selector:
    name: webapp
  ports:
  - port: 80
    targetPort:  80
    nodePort:  30080
    protocol:  TCP