# Create namespace dev
apiVersion: v1
kind:  Namespace
metadata:
  name:  dev
  labels:
    name: "Developement"

---
apiVersion:  apps/v1
kind:  Deployment
metadata:
  name: web-deployment
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      name: webapp
  template:
    metadata:
      labels:
        name: webapp
    spec:
      containers:
      - image: dragrom/kubeserve:v1
        name: web
        ports:
        - containerPort: 80

---
apiVersion:  v1
kind: Service
metadata:
  name: web-service
  namespace:  dev
spec:
  type:  NodePort
  selector:
    name: webapp
  ports:
  - port: 80
    targetPort:  80
    nodePort:  30080
    protocol:  TCP

---
apiVersion:  autoscaling/v1
kind:  HorizontalPodAutoscaler
metadata:
  name:  web-autoscaler
  namespace:  dev
spec:
  maxReplicas:  5
  minReplicas:  2
  targetCPUUtilizationPercentage:  60
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: web-deployment
status:
  currentCPUUtilizationPercentage:  0
  currentReplicas:  2
  desiredReplicas:  2
